
body {
	background-color: #120A8F;
	font-color: black;
	display: block;
	background-position: center top;
	background-attachment: fixed
}

h1 {
	text-align: center;
	font-family: Garamond, serif;
	font-color: black;
}

p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 18px;
}

div {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #120A8F;
	height: 200px;
	width: 200px;
	margin: auto;
	text-align: center;
}

a {
	text-decoration: none;
	color: #120A8F;
	font-family: Verdana, sans-serif;
}

button {
	text-decoration: none;
	color: #120A8F;
	font-family: Verdana, sans-serif;
	background-color: #120A8F;
	margin-top: 25px;
	height: 150px;
	width: 150px;
}

span {
	font-weight: bold;
	font-size: 28px;
	color: #ffffff;
}