img {
	display: block;
	height: 100px;
	width: 300px;
	margin: auto;
}

body {
	background-color: #D3D3D3;
	background-image: url("https://wallpaperscraft.com/image/cat_fat_food_meat_89397_3840x1200.jpg");
	font-color: #ffffff;
	display: block;
	background-position: center top;
	background-attachment: fixed
}

h1 {
	text-align: center;
	font-family: Garamond, serif;
}

p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 18px;
}

div {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #120A8F;
	height: 110px;
	width: 150px;
	margin: auto;
	text-align: center;
}

a {
	text-decoration: none;
	color: #120A8F;
	font-family: Verdana, sans-serif;
}

button {
	text-decoration: none;
	color: #120A8F;
	font-family: Verdana, sans-serif;
}

span {
	font-weight: bold;
	font-size: 28px;
	color: #ffffff;
}